.gallery{width: 80%;display: grid;grid-template-columns: 1fr 1fr;justify-content: center;align-items: center;column-gap: 4rem; row-gap: 2rem;}
.gallery div{width: 5rem;}
.gallery img{display: flex;justify-content: center;align-items: center;width: 100%;}
@media (min-width:768px) {
    .gallery{
        column-gap: 4rem;
        width: 100%;
    }
  
}