.App{margin-top: 1rem;}
.headerMain{margin-top: 4rem;}
.imgHeader{width:16rem;}
.imgHeader img{width: 100%;}
.buttonSiderBar{font-size: 2rem;position: absolute;left: 2%;top: 4%;}
.skills{margin-top: 3rem; width: 100%;}
.skills h2{margin-bottom: 2rem; margin-left: 1.5rem;}
.about{display: flex; flex-direction: column;}
.about-section h1{ margin-left: 10rem; margin-top: 1rem;}

@media (min-width:768px) {
    .containerMain{display: flex;flex-direction: row;align-items: center;justify-content: center;}
    .imgHeader{margin-right:20rem; width: 30rem;}
    #projects{margin-top: 4rem;}
    #projects h2{margin-bottom: 2rem;}
    .projectsDesktop{display: grid;flex-direction: row;grid-template-columns: 1fr 1fr 1fr;column-gap: 4rem;}
    .about{width: 100%;}
    .about-section{width: 100%;}
    .about-section h1{ margin-left: 13rem;}
}