.App{margin-top: 1rem;}
.headerMain{margin-top: 4rem;}
.imgHeader{width:16rem;}
.imgHeader img{width: 100%;}
.buttonSiderBar{font-size: 2rem;position: absolute;left: 2%;top: 4%;}
.skills{margin-top: 3rem;}
.skills h2{margin-bottom: 2rem;}
